<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="dataSource"
		class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName" value="jdbc/IIDO" />
		<property name="resourceRef" value="true" />
	</bean>
    
    <!-- Transaction manager for Spring JDBC -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
       
    <bean id="oficinaDao" class="com.grupobbva.bc.per.tele.sdo.dao.OficinaDao">        
        <property name="dataSource" ref="dataSource"/> 
    </bean>    
</beans>
