<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>SistemaSDOWeb</display-name>
	
    <!-- context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
	<listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener -->
	<filter>
    	<filter-name>SessionFilter</filter-name> 
    	<filter-class>igrupobbva.pe.sistemasdoweb.util.SessionFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>SessionFilter</filter-name> 
	    <url-pattern>*.do</url-pattern>
	</filter-mapping>
	<servlet>
		<display-name>Servlet para inicializaciOn de properties</display-name>
		<servlet-name>InitPropertiesServlet</servlet-name>
	    	<servlet-class>igrupobbva.pe.sistemasdoweb.util.InitPropertiesServlet</servlet-class>
		<init-param>
			<param-name>log4j-properties-location</param-name>
			<param-value>\WEB-INF\properties\propertiesLog4J.properties</param-value>
  		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ExportarExcelServlet</display-name>
		<servlet-name>ExportarExcelServlet</servlet-name>
		<servlet-class>igrupobbva.pe.sistemasdoweb.excel.ExportarExcelServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ExportarExcelReporteServlet</display-name>
		<servlet-name>ExportarExcelReporteServlet</servlet-name>
		<servlet-class>igrupobbva.pe.sistemasdoweb.excel.ExportarExcelReporteServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ExportarExcelHistServlet</display-name>
		<servlet-name>ExportarExcelHistServlet</servlet-name>
		<servlet-class>igrupobbva.pe.sistemasdoweb.excel.ExportarExcelHistServlet</servlet-class>
	</servlet>
	<servlet>
		<description>ExportGenericExcelServlet</description>
		<display-name>ExportGenericExcelServlet</display-name>
		<servlet-name>ExportGenericExcelServlet</servlet-name>
		<servlet-class>igrupobbva.pe.sistemasdoweb.excel.ExportGenericExcelServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>LogDownload</display-name>
		<servlet-name>LogDownload</servlet-name>
		<servlet-class>igrupobbva.pe.sistemasdoweb.util.LogDownload</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>downloadImage</display-name>
		<servlet-name>downloadImage</servlet-name>
		<servlet-class>igrupobbva.pe.sistemasdoweb.util.downloadImage</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportarExcelServlet</servlet-name>
		<url-pattern>/ExportarExcelServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportarExcelReporteServlet</servlet-name>
		<url-pattern>/ExportarExcelReporteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportarExcelHistServlet</servlet-name>
		<url-pattern>/ExportarExcelHistServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ExportGenericExcelServlet</servlet-name>
		<url-pattern>/ExportGenericExcelServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogDownload</servlet-name>
		<url-pattern>/LogDownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>downloadImage</servlet-name>
		<url-pattern>/downloadImage</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
			<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
		</taglib>		
	</jsp-config>
	<ejb-ref id="EjbRef_1232210462090">
		<description>
		</description>
		<ejb-ref-name>ejb/SesionWS</ejb-ref-name>
		<ejb-ref-type>Session</ejb-ref-type>
		<home>com.grupobbva.bc.per.tele.sdo.sesionws.SesionWSHome</home>
		<remote>com.grupobbva.bc.per.tele.sdo.sesionws.SesionWS</remote>
		<ejb-link>SistemaSDOEJB.jar#SesionWS</ejb-link>
	</ejb-ref>
	<session-config>
		<session-timeout>25</session-timeout>
	</session-config>
</web-app>
