.pagination {
            font-size: 80%;
        }
        
.pagination a {
    text-decoration: none;
	border: solid 1px #A9C82D;
	color: #A9C82D;
}

.pagination a, .pagination span {
    display: block;
    float: left;
    padding: 0.3em 0.5em;
    margin-right: 5px;
	margin-bottom: 5px;
	min-width:1em;
	text-align:center;
}

.pagination .current {
    background: #A9C82D;
    color: #fff;
	border: solid 1px #AAE;
}

.pagination .current.prev, .pagination .current.next{
	color:#999;
	border-color:#999;
	background:#fff;
}


/*--------------------------------------------------------------------------*/
/*
body {
    background-color: #fff;			
    margin: 0px;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
	margin-bottom:10px;
	font-size:1.5em;
}

h2 {
    margin:30px 0 10px 0;
    font-size:1em;
}

h3 {
	margin-top:10px;
	font-size:1em;
}
*/
#Searchresult {
	margin-top:15px;
	margin-bottom:15px;
	border:solid 1px #A9C82D;
	padding:5px;
	background:#FFFFFF; /*A9C82D*/
  	width:500px;
}

#Searchresult p { margin-bottom:1.4em;}

#Searchresult dt {
    font-weight:bold;
}

#Searchresult dd {
    margin-left:25px;
}

#ImageContainer {
    height:125px;
    width:200px;
    border:solid 1px #ccc;
    margin-bottom:10px;
}

#ImageContainer img {display:none;}

#footer {
	margin-top:20px;
	font-size:60%;
	color:#15B;
}

label {
	/*float:left;
	width:250px;*/
	display:block;
}

form p {
	clear:both;
}
